<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Admin Panel</title>
    <meta name="description" content="Admin Panel for api" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
        

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
        


</head>

<body>
    <div class="container-fluid" style="padding: 2rem;">
        <div class="row">
            API calls count: <%= cnt %>
        </div>
        <div class="row">
            Engagez Registered count: <%= rejo %>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>fname</th>
                                <th>lname</th>
                                <th>company</th>
                                <th>designation</th>
                                <th>phone</th>
                                <th>email</th>
                                <th>ticket</th>
                                <th>access_groups</th>
                                <th>Status Engagez</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach((li)=>{ %>
                            <tr>
                                <td><%= li.id %></td>
                                <td><%= li.fname %></td>
                                <td><%= li.lname %></td>
                                <td><%= li.company %></td>
                                <td><%= li.designation %></td>
                                <td><%= li.phone %></td>
                                <td><%= li.email %></td>
                                <td><%= li.ticket %></td>
                                <td><%= li.access_groups %></td>
                                <td><%= li.status %></td>
                            </tr>
                            <% }) %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>id</th>
                                <th>fname</th>
                                <th>lname</th>
                                <th>company</th>
                                <th>designation</th>
                                <th>phone</th>
                                <th>email</th>
                                <th>ticket</th>
                                <th>access_groups</th>
                                <th>Status Engagez</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</body>

</html>